@import "tailwindcss";

body{
  overflow-x: hidden;
}

@font-face {
  font-family: "Hero";
  src: url("../fonts/provicali/Provicali.otf");
}

@font-face {
  font-family: "prob";
  src: url("../fonts/body_grotesque/Body-Grotesque-Bold-trial.ttf");
}

.hero{
  font-family: "Hero";
}

.prob {
  font-family: "prob";
}